<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card" style="width: 23rem;">
        <div class="card-body">
            <h5 class="card-title">ID : <span class="text-info card-text" style="font-weight: 500;">{{data.id + 41910000}}</span></h5>
            <hr>
            <h5 class="card-title">Name : <span class="text-info card-text" style="font-weight: 500;">{{data.username}}</span>
            </h5>
            <hr>
            <h5 class="card-title">Email : <span class="text-info card-text" style="font-weight: 500;">{{data.email}}</span></h5>
            <hr>
            <h5 class="card-title">Password : <span class="text-info card-text" style="font-weight: 500;">{{data.password}}</span>
            </h5>
            <hr>
            <h5 class="card-title">Age : <span class="text-info card-text" style="font-weight: 500;">{{data.age}}</span></h5>
            <hr>
            <h5 class="card-title">Country : <span class="text-info card-text" style="font-weight: 500;">{{data.country}}</span>
            </h5>
            <hr>
            <a routerLink="/table" class="btn btn-info text-light">Go Back</a>
        </div>
    </div>
</div>